# Database
DATABASE_URL="postgresql://username:password@localhost:5432/database_name"

# MongoDB
MONGODB_URI="your-mongodb-connection-string-here"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here"

# Email Configuration for Job Applications
EMAIL_USER="norply@smartwebrowse.com"
EMAIL_PASS="your-app-password"



# Analytics
GOOGLE_ANALYTICS_ID="G-E7TW0FPD5M"
GOOGLE_TAG_MANAGER_ID="GTM-TPLT9HNW"
NEXT_PUBLIC_FACEBOOK_PIXEL_ID="396196344357183"

# External Services
CALENDLY_URL="https://calendly.com/robustsoftech"





